<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>ETF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

</head>
<body>
<script src="/components/navigation.js"></script>
<script src="/components/mobile-navigation.js"></script>
<script src="/components/header.js"></script>
<script src="/components/buyModal.js "></script>


<div id="container">

    <mobile-navigation></mobile-navigation>

<div class="container-fluid">
  <div class="row content">
    <navigation></navigation>
    <br>

    <div class="col-sm-8">
      <headerview></headerview>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <div class="active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              </div>
            <h3>ETF</h3> 
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ETFs</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Daily Change</th>
                    <th scope="col">Exchange</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>BOTZ</td>
                    <td>17.45</td>
                    <td class="pProfit">+2.23%</td>
                    <td>NASDAQ</td>
                    <td><button type="button" class="buyButton" data-toggle="modal" data-target="#buyModal">Buy</button></td>
                  </tr>
                  <tr>
                    <td>ROBO</td>
                    <td>32.33</td>
                    <td class="pProfit">+1.38%</td>
                    <td>NASDAQ</td>
                    <td><button type="button" class="buyButton" data-toggle="modal" data-target="#buyModal">Buy</button></td>
                  </tr>
                  <tr>
                    <td>IBUY</td>
                    <td>39.41</td>
                    <td class="pLoss">-0.83%</td>
                    <td>NASDAQ</td>
                    <td><button type="button" class="buyButton" data-toggle="modal" data-target="#buyModal">Buy</button></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalArea" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <buymodal></buymodal>
  </div>
</div>

<script src="/js/rootVueComponent.js"></script>
</body>
</html>
