<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <title>Markets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TradeIT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="markets">Markets</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li class="disabled"><a href="#section2">Watchlist</a></li>
        <li class="disabled"><a href="#section3">Social</a></li>
        <li class="disabled"><a href="#section3">Settings</a></li>
        <li><a href="/logout" method="post">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>TradeIT</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="markets">Markets</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li class="disabled"><a href="#section2">Watchlist</a></li>
        <li class="disabled"><a href="#section3">Social</a></li>
        <li class="disabled"><a href="#section3">Settings</a></li>
        <li><a href="/logout" method="post">Sign Out</a></li>
      </ul><br>
    </div>
    <br>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h3>AVAILABLE</h3>
            <p>CHF 5'000</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h3>INVESTED</h3>
            <p>CHF 14'000</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h3>PROFIT/LOSS</h3>
            <p class="pProfit">+ CHF 1'500</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <div class="active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              </div>
              </div>

 <div class="colmarkets">
      <div class="row">

        <div class="col-sm-4">
          <div class="well">
            <center><a href="stocks"> <img src="images/stocks.png" alt="" width="100" height="100" title="Bootstrap">
              <h2>Stocks</h2></a></center>
            </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <center><a href="etf"> <img src="/images/etf.png" alt="" width="100" height="100" title="Bootstrap">
            <h2>ETF</h2></a></center>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <center><a href="currency"> <img src="/images/crypto.png" alt="" width="100" height="100" title="Bootstrap">
              <h2>Currency</h2></a></center>
           </div>
        </div>
      </div>

</div>
          <script>

            $.ajax({
              url: "/stockX",
              type: "GET",

              contentType: 'application/json; charset=utf-8',
              success: function(resultData) {
                //here is your json.
                // process it
                console.log(resultData)

                $.each(resultData, function(key, value){
                  $.each(value.preis, function(key, val){
                    console.log("DATE");
                    console.log(new Date(val.valid_until));
                  });

                });
              },
              error : function(jqXHR, textStatus, errorThrown) {
              },

              timeout: 120000,
            });

          </script>
</body>
</html>