<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

</head>
<body>

<script src="/components/navigation.js"></script>
<script src="/components/mobile-navigation.js"></script>
<script src="/components/header.js"></script>
<script src="/components/buyModal.js"></script>
<script src="/components/sellModal.js"></script>
<script src="/components/detailModal.js"></script>

<div id="container">

  <mobile-navigation></mobile-navigation>

<div class="container-fluid">
  <div class="row content">
    <navigation></navigation>
    <br>

    <div class="col-sm-8">
      <headerview></headerview>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-8">
          <div class="well">

            <div id="share_chartContainer" style="height: 300px; width: 100%;"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h3><u>Overview</u></h3>
            <table>
              <tr>
                <td width="90%">Rate:</td>
                <td>16.5</td>
              </tr>
              <tr>
                <td width="90%">My Investment:</td>
                <td>1567.5</td>
              </tr>
              <tr>
                <td width="90%">Invested at:</td>
                <td>16.5</td>
              </tr>
              <tr>
                <td width="90%">Units:</td>
                <td>95</td>
              </tr>
              <tr>
                <td width="90%">Profit/Loss:</td>
                <td><span class="pProfit">+0</span></td>
              </tr>
              <tr>
                <td width="90%">Profit/Loss %:</td>
                <td><span class="pProfit" >+0%</span></td>
              </tr>
            </table>
            <br>
            <button type="button" id="detailbutton" class="blockButton" data-toggle="modal" data-target="#detailModal">Details</button> 

            <br>
               <div class="row">
                  <div id="divBtn" class="col-md-6">
                    <button type="button" class="buyButton" data-toggle="modal" data-target="#buyModal">Buy</button> 
                  </div>
                  <div id="divBtn" class="col-md-6">
                    <button type="button" class="sellButton" data-toggle="modal" data-target="#sellModal">Sell</button> 
                   </div>
                </div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <h3>PORTFOLIO</h3> 
            <table class="table" id="titlesHeld">
                <thead>
                  <tr>
                    <th scope="col">Stocks</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Daily Change</th>
                    <th scope="col">Exchange</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="stockdataTable">
                  <tr v-for="name in json" class="clickable-row">
                    <td>{{name.name}}</td>
                    <td>{{name.preis[name.preis.length-1].preis}}</td>
                    <td>{{calculations(name.preis[name.preis.length-1].preis, name.preis[name.preis.length-2].preis)}}%</td>
                    <td>{{name.boersenplatz.kuerzel}}</td>
                    <td><button type="button" class="buyButton" data-toggle="modal" data-target="#buyModal">Buy</button></td>
                    <td><button type="button" class="sellButton" data-toggle="modal" data-target="#sellModal"> Sell</button></td></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="sellModalArea" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <sellmodal></sellmodal>
      </div>
    </div>
    <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalArea" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <buymodal></buymodal>
      </div>
    </div>
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <detailmodal></detailmodal>
      </div>
    </div>
</div>

<script src="/js/portfolio_axios.js"></script>
<script src="/js/share_chart.js"></script>

</body>
</html>

